<f:if condition="{data_tx_wsslider_slider}">
    <div class="sdSlider mb-5">
        <f:for each="{data_tx_wsslider_slider}" as="data_item">
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="sliderbox">
                            <f:if condition="{data_item.data.tx_wsslider_headline}">
                                <h2>{data_item.data.tx_wsslider_headline}</h2>
                            </f:if>

                            <f:if condition="{data_item.data.tx_wsslider_text}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.data.tx_wsslider_text}</f:format.html><br />
                            </f:if>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <f:if condition="{data_item.data_tx_wsslider_image}">
                            <f:for each="{data_item.data_tx_wsslider_image}" as="file">
                                <f:image image="{file}" alt="{file.alternative}" title="{file.title}"  />
                            </f:for>
                        </f:if>

                    </div>
                </div>
            </div>
        </f:for>
    </div>
    <f:if condition="{data_item.data.tx_wsslider_imagelink}">
        <f:then>
            On<br />
        </f:then>
        <f:else>
            Off<br />
        </f:else>
    </f:if>

    <f:if condition="{data_item.data.tx_wsslider_link}">
        <f:link.page pageUid="{data_item.data.tx_wsslider_link}">{data_item.data.tx_wsslider_link}</f:link.page><br />
    </f:if>

    <f:if condition="{data_item.data.tx_wsslider_linktext}">
        <f:format.nl2br>{data_item.data.tx_wsslider_linktext}</f:format.nl2br><br />
    </f:if>

    <f:if condition="{data_item.data.tx_wsslider_sliderlink}">
        <f:link.page pageUid="{data_item.data.tx_wsslider_sliderlink}">{data_item.data.tx_wsslider_sliderlink}</f:link.page><br />
    </f:if>
</f:if>
